<html len = 'ru'>
	<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

		<title>{{ page_title }}</title>

	</head>
	<body>
		<div class = 'container'>
		<h3>146%</h3>
		<h5>Study block: 179</h5>
		<br>
		<div class = 'row'>
			<div class = 'col-6'>
				{% with messages = get_flashed_messages() %}
    				{% if messages %}
    				<div class="alert alert-warning" role="alert">
        				{% for message in messages %}
            				{{ message }}<br>
        				{% endfor %}
   					</div>
    				{% endif %}
				{% endwith %}
				<form action="{{ url_for('index') }}" method="POST">
					{{ form.hidden_tag() }}
					<div class="form-group">
        				{{ form.spanish_word.label }}
       					{{ form.spanish_word() }}
    				</div>

				    <div class="form-group">
				        {{ form.english_words.label }}
				        {{ form.english_words() }}
				    </div>
				    <button type="button" class="btn btn-warning">
				    	{{ form.submit }}
				    </button>
				</form>
			</div>
		</div>	
		</div>
	</body>
</html>